<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Милый чатик, для общения с девочками</title>
    <link rel="stylesheet" href="../assets/css/chat.css">
</head>
<body>
<div class="chat">
    <div class="chat-messages" id="chat"></div>
    <div class="chat-input">
        <input type="text" id="input">
    </div>
</div>
<div class="users" id="users">
   <button id="logout">EXIT</button>
</div>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/index.js"></script>
</body>
</html>