<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<form>
    <p>РЕГИСТРАЦИЯ</p>
    <input type="text" name="firstname" placeholder="Имя"><br>
    <input type="text" name="lastname" placeholder="Фамилия"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="pass" placeholder="Пароль"><br>
    <input type="password" name="pass_conf" placeholder="Подтвердите пароль"><br>
    <button type="submit" name="signup" id="reg-btn">Регистрация</button>
    <p>
        Уже есть аккаунт? <a href="signin">Войти</a>
    </p>
    <p class="msg none"></p>
</form>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>