<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<form >
    <p>АВТОРИЗАЦИЯ</p>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="pass" placeholder="Пароль"><br>
    <button type="submit" name="signin" id="login-btn">Войти</button>
    <p>
        Нет аккаунта? <a href="signup">Зарегистрироваться</a>
    </p>
    <p class="msg none"></p>
</form>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>